body {
  max-width: 8.5in;
  margin: auto;
  font-family: Verdana, Arial, Sans-serif;
}
.cover-page, .label-page-front, .label-page-back {
  margin: 0.5in;
}
.cover-page {
  font-size: 1.5em;
}
.label-page-front, .label-page-back {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: space-between;
}
.label-page-front {
  direction: ltr;
}
.label-page-back {
  direction: rtl;
}
.label-item-front, .label-item-back {
  height: 2.5in;
  width: 3.75in;
  flex-wrap: wrap;
  flex-direction: column;
  outline: 0.5mm solid black;
  position: relative;
}
.label-item-back-text {
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: 2mm;
  left: 2mm;
  right: 2mm;
  font-size: 0.875em;
}
.label-item-title {
  position: relative;
  display: block;
  text-align: center;
  top: 0.25in;
  font-size: 1.5em;
}
.label-item-name {
  display: block;
  text-align: center;
  font-size: 2.5em;
  position: relative;
  top: 0.3in;
  margin-left: 2mm;
  margin-right: 2mm;
}
.label-item-description {
  text-align: center;
  position: relative;
  top: 0.35in;
  margin-left: 2mm;
  margin-right: 2mm;
  font-size: 0.875em;
}
.label-item-allergen-images{
  flex-direction: row;
  position: absolute;
  bottom: 8px;
  right: 16px;
}
img {
  width: 0.5in;
  height: 0.5in;
}
@media print {
  @page {
    size: letter portrait;
  }
  .cover-page, .label-page-front, .label-page-back {
    page-break-after: always
  }
}
